/* ===========block===========*/
/*==============blocksitems_special.html=================*/


#itemsspecial {
	position:              relative;
	/*top: 38px;  */
	width: 100%;
	height: 187px;
	overflow: hidden;
}
#demo {
	position:              relative;
	overflow:hidden;
	width: 100% !important;
}
#demo img {
	height: 170px;
	width: auto !important;
	border: 5px solid #2A2727;
	margin: 0px 5px 0px 5px;
	padding: 2px;
}
#demo img:hover {
	border: 5px solid #771C1F;
}
#indemo {
	float: left;
	width: 50000%;
}
#demo1 {
	float: left;
}
#demo2 {
	float: left;
}
/*==============blocksitems_special.html=================*/

#Product {
	width: 580px;
	padding: 0px 0px 0px 0px;
	position:              relative;
	top: 0px;
}
#itemitem_picture {
	position:              relative;
	overflow: hidden;
	width: 173px;
	height: 210px;
}
#itemitem_picturea {
	margin: 0 auto;
	text-align: center;
	width: 170px;
	overflow: hidden;
}
#itemitem_picturea img {
	height: 140px;
	padding: 5px 0px 0px 10px;
	position:              relative;
	margin-left: 0px;
}
#itemitem_picture02 {
	position: absolute;
	width: 173px;
	height: 210px;
	z-index: 10000;
	background:  url(../img/catalog/foreman_32.png) no-repeat left top;
}
#itemitem_picture02 a {
	background:  url(../img/catalog/foreman_32a.png) no-repeat left top;
	display:            block;
	overflow:           hidden;
	height:                0px;
	padding-top:             210px;
}

#itemitem_picture02 a:hover {
	background: none;
}
#Product ul li {
	position:              relative;
	float: left;
	width: 190px;
	height: 220px;
}
#Product #caption {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	z-index: 200000;
	width: 200px;
	height: 32px;
	top: 170px;
	overflow: hidden;
}
#Product #odd a {
	color: #000000 !important;
	font-size: 110%;
	line-height: 145%;
}
#Product #odd a:hover {
	color: #DC4B00 !important;
}
/*  ============MENU選單 ============  */

/*  ============MENU選單 ============  */


 .xo-blockcatalog #catalomainmenu .catalomenuMainatop {
 
	display: block;
	width:  120px;
	height: 32px;
	font-size: 100%;
/*	font-weight: bold;  */
	padding:             1px 0 5px 55px !important;
	color: #383838;
	background: url(../img/buttom02a.png) no-repeat left top;
}
.xo-blockcatalog #catalomainmenu ul li ul {
	/*	position:              relative;   */
 	margin-left:  30px;
	padding: 10px 0px 10px 0px;
}
.xo-blockcatalog #catalomainmenu ul li ul a {
	display: block;
	font-size: 105%;
	padding: 0px 0px 0px 10px;
	background: url(../img/buttom03.png) no-repeat left 10px;
	color: #0045A0;
}
.xo-blockcatalog #catalomainmenu ul li ul a:hover {
	color: #FF6633;
}
.xo-blockcatalog #catalomainmenu #lia a {

	color: #B41D2F;
	font-weight: normal;
}
.xo-blockcatalog #catalomainmenu #lib {
	/*	position:              relative;  */
 	margin-left: 16px;
}
.xo-blockcatalog #catalomainmenu #mainatopimg {
	position: absolute;
	width: 52px;
	height: 28px;
	background: url(../img/catalog/catalogicom.png) no-repeat left top;
	z-index: 100000;
}
/* ============= 共用 ===============  */
#catalog div#content {
	color: #444444;
}
#catalog div#content h2 {
	font-size: 100%;
	padding-bottom: 10px;
}
#catalog div#content h2 a {
	color: #AA9449;
}
#catalog div#content h2 a:hover {
	color: #86B219;
}
#catalog #catalogcategory, #catalog #catalog_brandinfo, #catalog #catalogoubrand {
	padding: 0px 10px 0px 10px;
	background: url(../img/green3cweba_80.png) no-repeat right bottom;
}
#catalog #thimg {
	position:              relative;
	left: -4px;
	width: 657px;
	height: 48px;
	padding: 0px 0px 0px 0px;
	background: url(../img/thimg.jpg) no-repeat left top;
}
/*  ============catalog_coubrand.html樣板============  */
/*  ==============國家模式============================*/
#catalog #catalogoubrand h3 {
	color: #AD6E47;
	font-size: 1.3em;
	padding: 6px 0px 10px 40px;
	background: url(../img/icom04.png) no-repeat left top;
	font-weight: bold;
	border-bottom: 1px dotted Silver;
}
#catalog #countries {
	padding: 0px 0px 0px 10px;
}
#catalog #countries ul li {
	float: left;
	padding-right: 15px;
}
#catalog #countries ul li a {
	line-height:  250%;
}
/*#catalog div#content a {
	font-size: 110%;
}*/
#catalog #catalogoubrand h2 {
	clear: both;
	padding: 10px 0px 5px 10px;
	background: url(../img/icom05.png) no-repeat left 15px;
}
#catalog #countries div {
	padding-bottom: 40px;
}
/*  ==============新進商品模式============================*/
#catalog #catalog_coubrand {
	width: 100%;
	padding: 0px 0px 0px 0px;
	
}
#catalog #catalog_coubrand ul li {
	float: left;
	height: 220px;
	margin: 0px 0px 20px 20px;
	border-bottom: 1px solid #FF631C;
}
#catalog #catalog_coubrand ul li:hover {
	border-bottom: 1px solid #0078BD;
}
#catalog #catalog_coubrand #itemsimg {
	width: 229px;
	height: 200px;
	overflow: hidden;
	text-align: center;
}
#catalog #catalog_coubrand #itemsborder {
}
#catalog #catalog_coubrand #itemtop {
	margin: 0px 0px 30px 0px;
	/*height: 206px;*/
width: 229px;
	position:              relative;
}
#catalog #catalog_coubrand #item_name {
	text-align: center;
	height: 35px;
	overflow: hidden;
}
#catalog #catalog_coubrand #item_name a {
	color: #232323;
}
#catalog #catalog_coubrand #item_name a:hover {
	color: #BD0817;
}
#catalog #catalog_coubrand #itemcounter {
	width: 230px;
	position: absolute;
	bottom: 0px;
	background:		url(../img/catalog/wtp03.png) repeat left top;
	color: #FFFFFF;
	padding: 0px 0px 0px 5px;
	overflow: hidden;
	left: 0px;
}
#catalog #catalog_coubrand #itemcounter a {
	color: #FFFFFF;
}
#catalog #catalog_coubrand #itemcounter a:hover {
	color: #FFD9BA;
}
#catalog #catalog_coubrand #itemcounter:hover {
	position: absolute;
	top: 130px;
	cursor: hand;
}
#catalog #catalog_coubrand #itemsimg img {
	width: 229px;
	height: auto;
}
#catalog #catalog_coubrand #pagenav {
	text-align: center;
	padding-top: 9px;
	color: #E83425;
}
#catalog #opnew {
	width: 100%;
	text-align: center;
}
#catalog_coubranddiv {
	position:              relative;
	padding-top: 20px;
	left: 7px;
}
/*  ============catalog_brandinfo.html樣板============  */
#catalog_brandinfo #but {
	width: 140px;
	height: 136px;
	position:              relative;
}
#catalog_brandinfo #but a {
	background: url(../img/green3cweba_100.png) no-repeat left top;
	display:            block;
	overflow:           hidden;
	height:                0px;
	padding-top:             136px;
}
#catalog_brandinfo #but a:hover {
	background: url(../img/green3cweba_100a.png) no-repeat left -1px;
}
/*  ============catalog_category.html樣板============  */
#catalogcategory th {
	padding: 0px !important;
	background: url(../img/green3cweba_58.png) repeat-x left top !important;
	height: 68px !important;
	text-align: left !important;
}
#catalogcategory th h3 a {
	text-align: left !important;
	font-size: 85% !important;
	padding: 0px 0px 0px 10px !important;
	color: #6D722F !important;
}
#catalogcategory #odd {
	width: 25%;
	padding: 20px 20px 10px 10px;
}
#catalogcategory #odd img {
	border: 1px solid #C8D451;
	padding: 1px;
}
#catalogcategory #even {
	width: 80%;
}
#catalogcategory #even div {
	padding: 5px 0px 10px 0px;
	font-size: 105%;
}
#catalogcategory #itemradioitem {
	position: absolute;
	margin: 0px 0px 0px 190px;
}
#catalogcategory #itemadmin {
	position: absolute;
	margin: -6px 0px 0px 170px;
	font-size: 95% !important;
}
#catalogcategory td {
	background: #FFFFFF url(../img/) repeat-x left top !important;
}
#itemsitemid {
	padding: 10px 0px 0px 20px;
	width: 103px;
	height: 38px;
}
#itemsitemid a {
	background: url(../img/green3cweba_101.png) no-repeat left top;
	display:            block;
	overflow:           hidden;
	height:                0px;
	padding-top:             38px;
}
#itemsitemid a:hover {
	background: url(../img/green3cweba_101a.png) no-repeat left top;
}
/* ===========樣板新增文字================*/
#catalog #textcenter {
	font-size: 95%;
	line-height: 190%;
	border: 1px solid #EFEFEF;
	padding: 10px;
}
#catalog #texcenter h3 {
}
/*  ===========catalog_header.html=============   */
#catalog .breadcrumbs .breadcrumbs_title {
	font-size: 110%;
	color: #8A3538;
}
#catalog #catalog_header {
	padding: 10px 0px;
}
/*  ===========catalog_item.html=============   */
#catalog #catalogitem {
	padding: 10px 5px 0px 10px;
}
#catalog #catalogitem .jcarousel-skin-tango ul, #catalog #catalogitem .jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 83%;
}
#catalog #catalogitem .jcarousel-skin-tango li {
	margin-right: 12px !important;
}
#catalog #catalogitem #files {
	/*float: left;*/
width: 190px;
	padding: 5px 0px 5px 10px;
}
#catalog #catalogitem #files a {
	display: block;
}
/* =========== 圖片播放器大小=========  */ 

#catalog #catalogitem #catalogplay {
	position:              relative;
	width: 65%;
}
#catalog #catalogitem #divimg {
	position:              relative;
	max-height: 300px;
	height: auto;
	width: 100%;
	overflow: hidden;
	background: #C1C1C1 url(../img/) no-repeat left top;
	border: 1px solid #424242;
	margin: 0px 0px 10px 0px;
}
#catalog #catalogitem #divimg #bigImage {
	text-align: center !important;
	margin: 0 auto !important;
}
#catalog #catalogitem #divimg img {
	max-width: 600px;
	max-height: 350px;
}
#catalog #catalogitem #divimg #divimgh2 {
	background: url(../img/dingway_41.png) repeat left top;
	position: absolute;
	width: 100%;
	padding: 0px 0px 0px 10px;
	height: 30px;
	overflow: hidden;
}
#catalog #catalogitem #divimg #divimgh2 h2 {
	color: #FFFFFF;
	font-size: 110%;
}
#catalog #comparison {
	padding: 0px 10px 10px 0px;
	float: right;
	width: 118px;
	height: 38px;
}
#catalog #comparison a {
	background: url(../img/green3cweba_102.png) no-repeat left top;
	display:            block;
	overflow:           hidden;
	height:                0px;
	padding-top:             38px;
}
#catalog #comparison a:hover {
	background: url(../img/green3cweba_102a.png) no-repeat left top;
}
#catalog #catalogitem .breadcrumbs_title {
	display: block;
}
#catalog #catalogitem th {
	padding: 0px !important;
	background: url(../img/green3cweba_58.png) repeat-x left top !important;
	height: 68px !important;
}
#catalog #itemradio td {
	padding: 10px 5px 10px 5px;
	background: #FFFFFF url(../img/) repeat-x left top !important;
}
#catalog #SUBMI {
	margin: 20px 0px 30px 0px;
}
#catalog #SUBMI h2 {
	padding-top: 30px;
}
#catalog #itemradio table {
	border-bottom: 1px solid #CBD56C;
}
#catalog #catalogitem .items_msg li, #catalog #itemradio ul li {
	line-height: 35px;
	padding: 0px 30px 0px 0px;
	border-bottom: 1px solid #CBD56C;
}
#catalog #itemradio #spana {
	padding-right: 30px;
}
#catalog #catalogitem #greeneplogo {
	margin-top: 11px;
	margin-left: 250px;
	position: absolute;
}
#catalog #catalogitem #greeneplogo img {
	vertical-align: middle;
}
#catalog #catalogitem .items_msg {
	position: absolute;
	width: 220px;
	/*	padding: 15px 0px;*/
left: 540px;
	background: url(../img/catalog/catalogimg01.jpg) no-repeat left bottom;
	height: 365px;
}
#catalog #catalogitem .items_msg ul {
/*	font-size: 105%; */
}
#catalog #catalogitem .items_msg td {
	padding: 10px 5px 10px 0px;
}
#catalog #catalogitem .items_msg strong {
	color: #1B326D;
}
#catalog #catalogitem .wrapper img {
	height: 90px !important;
}
#catalog #item05item h3 {
	padding-top: 10px;
	width: 589px;
	height: 51px;
}
#catalog #item05item h3 a {
	background: url(../img/h305.png) no-repeat left top;
	display:            block;
	overflow:           hidden;
	height:                0px;
	padding-top:            51px;
}
#catalog #item04item {
	padding: 0px 0px 20px 0px;
}
#catalog #item04item img {
	max-width: 60px;
	padding: 2px;
	border: 1px solid #CBD56C;
}
#catalog #item04item ul li {
	float: left;
	padding-left: 10px;
}
#catalog #item06item h3 {
	width: 589px;
	height: 51px;
	padding-bottom: 10px;
}
#catalog #item06item h3 a {
	background: url(../img/h306.png) no-repeat left top;
	display:            block;
	overflow:           hidden;
	height:                0px;
	padding-top:            51px;
}
#catalog #item05item #resellers {
	float: left;
	width: 182px;
	height: 164px;
	padding: 25px 0px 5px 0px;
	background: url(../img/green3cweba_103.jpg) no-repeat left top;
	margin: 20px 12px 0px 0px;
	text-align: center;
}
#catalog #item05item img {
	max-width: 150px;
	position:              relative;
}
#catalog #itembyitems {
	margin-top: 20px;
	clear: both;
}
#catalog #resellersdiv {
	position:              relative;
 *margin-left: 0px !IMPORTANT;
	margin-left: 12px;
	height: 70px;
	width: 155px;
	overflow: hidden;
	border: 1px solid #CBD56C;
}
#catalog #itembyitems {
	padding: 0px 0px 10px 0px;
}
#catalog #itembyitems h2 {
	font-size: 120% !important;
	color: #8AB056;
	font-weight: bold;
}
#catalog #catalogitem #lefttd {
	width: 250px;
}
#catalog #catalogitem #rateformtype6, #catalog #catalogitem #rateformtype5, #catalog #catalogitem #rateformtype4, #catalog #catalogitem #rateformtype3, #catalog #catalogitem #rateformtype2, #catalog #catalogitem #rateformtype1 {
	position: absolute;
}
#catalog #selectedIndex {
	position: absolute;
	/*	padding: 10px 0px 15px 0px;*/
right: 97px;
}
/*==========相關產品===========*/
#catalog #bottomitem_picture {
	position:              relative;
	margin-top: 15px;
*height: 200px;
}
#catalog #bottomitem_picture h3 {
	background: url(../img/kimg.jpg) no-repeat left top !important;
	padding-left: 25px;
	margin: 0px 0px 5px 0px;
}
/* ===========catalog_comparison===========  */
#catalog #catalog_comparison {
	padding: 10px;
}
#catalog #catalog_comparison th {
	padding-top: 0px !important;
	background: url(../img/green3cweba_58.png) repeat-x left top !important;
	height: 68px !important;
	font-size: 100%;
	text-align: left;
	padding-bottom: 0px !important;
	padding-left: 2px !important;
}
#catalog #catalog_comparison td a {
	font-size: 100%;
}
#catalog #catalog_comparison td {
	background: #FFFFFF url(../img/) repeat-x left top !important;
	padding: 2px;
}
#catalog #catalog_comparison table {
	border-bottom: 1px solid #79822D;
}
#catalog #catalog_comparison h1 {
	color:  #C98054;
	font-size: 120%;
}
#catalog #itemulleft ul li {
	float: left;
}
#catalog #itemulleft a {
	color: #545454;
	display: block;
	cursor: hand;
	border: 1px solid #C9C9C9;
	background: #EFEFEF url(../img/catalog/) no-repeat center top;
	padding: 2px 10px 2px 10px;
	margin: 0px 10px 0px 0px;
}
#catalog #itemulleft #item01a {
	border: 1px solid #E60012;
	background: #FFF7F7 url(../img/) repeat-x left top;
	color: #E60012;
}
#catalog #item01item #itemitema {
	position:              relative;
	left: 45px;
}
#catalog #item02item #itemitema {
	position:              relative;
	left: 190px;
}
#catalog #item03item #itemitema {
	position:              relative;
	left: 235px;
}
#catalog #item04item #itemitema {
	position:              relative;
	margin-left: 340px;
}
#catalog #itemulleft {
	padding-bottom: 30px;
}
#catalog #itemitemsummary {
	position:              relative;
	width: 97%;
	padding:0px 5px 5px 5px;
	min-height: 250px;
	border: 1px solid #C9C9C9;
	clear: both;
}
#catalog #itemitemsummary p {
	padding: 0px !important;
	margin: 0px !important;
}
